<!DOCTYPE html>
<html>
  <body>
    <h2>Hello,</h2>
    <h2>You've been assigned a new project!</h2>
    <p><strong>Project:</strong> <%= projectName %></p>
    <p><strong>Deadline:</strong> <%= endDate %></p>
    <p>Please log in to your dashboard for more details.</p>
  </body>
</html>
